[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
pysvg = { version = "*", index = "testpypi" }
build = "*"
twine = "*"
setuptools = "*"
fonttools = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[dev-packages]

[requires]
python_version = "3.12"
